<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033843798164-9rmglbescdke2eb9e4i4kqe4s9blmlr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033843798164-9rmglbescdke2eb9e4i4kqe4s9blmlr9</string>
	<key>API_KEY</key>
	<string>AIzaSyByuLtpt8Oyfpxl5EeH1aRflwsHxUwCgdY</string>
	<key>GCM_SENDER_ID</key>
	<string>1033843798164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slashcopy.ios.tractorrace</string>
	<key>PROJECT_ID</key>
	<string>tractor-race</string>
	<key>STORAGE_BUCKET</key>
	<string>tractor-race.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033843798164:ios:ea03033f1e6b5d38dbc481</string>
</dict>
</plist>